<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find a matching destination</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% from 'bootstrap5/form.html' import render_form %}
</head>
<body>
    <header class="d-flex justify-content-center py-3 bg-secondary">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{{url_for('home')}}" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        </ul>
    </header>

    <div class="container bg-primary">
        <div class="bg-body-tertiary p-5 rounded w-75 mx-auto">
            <h1>Matching destination</h1>
            <div class="d-flex justify-content-center bg-secondary">
                {% for month in cal %}
                    {% if month[1] %}
                        <a href="{{url_for('update_period', month_id=month[0])}}" class="btn btn-success me-1">{{month[0]}}</a>
                    {% else %}
                        <a href="{{url_for('update_period', month_id=month[0])}}" class="btn btn-warning me-1">{{month[0]}}</a>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center border">
            <a href="{{url_for('search_flight', dests=True)}}" class="btn btn-success bg-success">Search</a>
    </div>
    <div class="container bg-primary border">
        <div class="bg-body-tertiary ps-5 w-75 mx-auto border">
            <h3>Destination</h3>
            <div class="d-flex flex-row mt-2 border">
                {{ form.csrf_token }}
                {{ render_form(form) }}
<!--                <input type="text" id="name">-->
<!--                <a href="{{url_for('change_dest', value=True)}}" class="btn btn-success bg-primary ms-2">Add destination</a>-->
<!--                <a href="{{url_for('change_dest', value=False)}}" class="ms-1 btn btn-success bg-danger">Del destination</a>-->
            </div>


        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>